[Desktop Entry]
Name=OFW6

X-KDE-PluginInfo-Name=6th OpenFOAM Workshop 201q at Penn State
X-KDE-PluginInfo-Author=Henrik Rusche
X-KDE-PluginInfo-Email=h.rusche@wikki-gmbh.de
X-KDE-PluginInfo-License=LGPLv3
X-Ubuntu-Gettext-Domain=desktop_kdebase-workspace
