[Desktop Entry]
Encoding=UTF-8
Name=Click here for OFW9 program and slides
Type=Link
URL=http://www.openfoamworkshop.org/program.html
Icon=applications-internet
